.MentionsLine {
  .showMoreLess {
    &.-newStyle {
      line-height: 1.5;
      font-size: inherit;
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }

    &.-oldStyle {
      color: var(--link);
    }
  }
}
