@import '../../_variables.scss';

.Timeline {
  .loadmore-text {
    opacity: 1;
  }

  &.-blocked {
    cursor: progress;
  }

  .timeline-heading {
    max-width: 100%;
    flex-wrap: nowrap;
    align-items: center;
  }

  .timeline-footer {
    border: none;
  }

  .conversation-heading {
    top: calc(var(--panel-heading-height) * 2);
  }

  &.-nonpanel {
    .timeline-heading {
      text-align: center;
      line-height: 2.75em;
      padding: 0 0.5em;
    }

    .button-default, .alert {
      line-height: 2em;
      width: 100%;
    }
  }
}
