@import '../../_variables.scss';

.Timeline {
  .loadmore-text {
    opacity: 1;
  }

  &.-blocked {
    cursor: progress;
  }

  .conversation-heading {
    top: calc(var(--__panel-heading-height) * var(--currentPanelStack, 2));
    z-index: 2;
  }

  &.-nonpanel {
    .timeline-heading {
      text-align: center;
      line-height: 2.75em;
      padding: 0 0.5em;
    }

    .timeline-heading {
      .button-default, .alert {
        line-height: 2em;
        width: 100%;
      }
    }
  }
}
